{% extends "base.html" %}

{% block title %} Login Page {% endblock %}

{% block content %}

 <!-- jab same page pr error dikhana ho to ye use karte hai -->
{% if error %}
    <p style="color: red;">{{ error }}</p>      
{% endif %}

    <form method="POST" action="{{ url_for('login') }}" style="width: auto; margin: auto; text-align: center; font-size: 20px; height: 300px; width: 300px; padding-top: 100px; background-color: rgb(26, 152, 152);">
        <label for="username" style="width: auto; background-color: aqua; ">Username:</label>
        <input type="text" id="username" name="username" required style="background-color: palegoldenrod; font-family: 'Courier New', Courier, monospace; text-align: center;"><br> 
        <br>
        <br>
        <label for="password" style="background-color: beige; font-family: 'Courier New', Courier, monospace;">Password:</label>
        <input type="password" id="password" name="password" required style="font-family: 'Courier New', Courier, monospace; background-color: beige;"><br><br>
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock %}